a {
    text-decoration: underline;
}

.no-decoration a {
    text-decoration: none;
}

.custom-text {
    line-height: 150%;
}

.cust-img-thumb {
    width: 300px;
    height: 300px;
}

.contact-area {
    position: absolute;
    clear:both;
    left: 10%
}

@media(min-width: 768px) {
    .contact-area {
        position: absolute;
        clear:both;
        left: 35%
    }

    .photo-me{
        margin-left: 396px;
    }
}


.contact-spacing {
    display: none;
}

@media(min-width: 1200px) {
    .contact-spacing {
        display: inherit;
    }
}

.blue-links li a {
    color: #337ab7
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

